<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.web>
    <compilation debug="true">
      
    </compilation>
  </system.web>
    <system.serviceModel>
     
        <bindings />
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="serverBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="serverBehavior" name="CardGameXService.ChatService">
                <endpoint address="CardGameService" binding="netTcpBinding" bindingConfiguration=""
                    contract="CardGameXService.IChatService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.1.102:8181/" />
                        <add baseAddress="net.tcp://192.168.1.102:8190" />
                    </baseAddresses>
                </host>
            </service>
          <service behaviorConfiguration="serverBehavior" name="CardGameXServiceCore.CardGameService">
            <endpoint address="CardGameService" binding="netTcpBinding" bindingConfiguration=""
                contract="CardGameXServiceCore.ICardGameService" />
            <host>
              <baseAddresses>
                <add baseAddress="http://192.168.1.102:8170/" />
                <add baseAddress="net.tcp://192.168.1.102:100" />
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>
</configuration>