<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICardGameService" />
                <binding name="NetTcpBinding_IChatService" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICardGameService" />
                <binding name="WSDualHttpBinding_IChatService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CardGameXServiceCore/CardGameService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICardGameService"
                contract="CardGameXServiceCore.ICardGameService" name="WSDualHttpBinding_ICardGameService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CardGameXService/ChatService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IChatService"
                contract="CardGameXService.IChatService" name="WSDualHttpBinding_IChatService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>